.idea/*
.vscode
.settings
.classpath
.project
*.class

# Removing all binary files
/target/classes/edu/rice/comp413fall2020grey/*
/core/.idea/*
/core/src/edu/.idea/*
/core/src/edu/rice/.idea/*
/core/src/edu/rice/comp413fall2020grey/Location/.idea/*
/sample-game/.idea/*
/sample-game/client/.idea/*

# Do not include target files
target/*
/core/target/*

*.DS_Store

